
<div class="container ">
  <div class="row">
   <div class="col-xs-12">
    <h2 class="sign-up">Sign Up</h2>
     </div>
  </div>
</div>

<div class="container  lower register">

<div class="row email">
    <div class="col-xs-12">
      <div class="sign-up">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="name">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true%>
    </div>
  </div>
</div>

<div class="row mail">
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
</div>

<div class="row pass">
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>
</div>

<div class="row confirm">
  <div class="col-xs-12">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>
</div>

<div class="row monthly">
  <div class="col-xs-12">
    <div class="field">
      <%= f.check_box :monthly_email, {}, true %>
      <%= f.label :monthly_email, "I would like to receive a monthly email detailing specials of museums I've favorited." %>
    </div>
  </div>
</div>

<div class="row sign">
  <div class="col-xs-12">
    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  </div>
</div>
<% end %>

<div class="row links">
  <div class="col-xs-12">
    <%= render "devise/shared/links" %>
  </div>
</div>

</div>