
<% if signed_in? %>
	<% if museum.is_favorite?(current_user) %>
		<%= link_to "Unfavorite", favorite_path(Favorite.find_by(museum_id: museum.id, user_id: current_user.id)), method: :delete %> </p>

	<%else%>
	<%= form_for favorite, method: :create do |f| %>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		  <%= f.hidden_field :museum_id, value: museum.id %>
		  <%= f.submit 'Favorite' %>
		<%end%>
	<%end%>
<%else%>
	redirect to sign up
<%end%>
