<% if @museum.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@museum.errors.count, "error") %></h2>
    <ul>
    <% @museum.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-7">
      <%= image_tag(@museum.photos) %>
    </div>

    <div class="col-xs-5 columns">

      <div class="row">
        <div class="col-xs-12">
          <h3><%= @museum.name.upcase %></h3></br>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <i class="fi-dollar style10"></i>
        </div>

        <div class="col-xs-4">
          <i class="fi-dollar style10"></i>
        </div>

        <div class="col-xs-4">
          <i class="fi-dollar style10"></i>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4>Hours</h4>
        </div>
      </div>
      <div class="row">
      <% if @museum.opening_hours.empty? %>
        <div class="col-xs-12">
          <p>No Hours Available</p>
        </div>
        <%else%>
        <% @museum.opening_hours.each do |hours| %>
         <div class="col-xs-12">
          <%= hours %>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4>Admission</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= @museum.rates %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4>Specials</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= @museum.specials.first.description %>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row">
  <div class="small-4 columns">
    <div class="row">
      <div class="small-12">
        <h4>Hours:</h4>
      </div>
    </div>
    <% if @museum.opening_hours.empty? %>
      <p>No Hours Available</p>
    <% else %>
      <% @museum.opening_hours.each do |hours| %>
        <div class="row">
          <div class="small-12">
            <%= hours %>
          </div>
        </div>
      <%end%>
      <% end %>
  </div>

  <div class="small-4 columns">
    <div class="row">
      <div class="small-12">
        <h4>Admission</h4></br>
         <%= @museum.rates %>
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <h4>Specials<h4></br>
        <p class="specials"><%= @museum.specials.first.description %></p>
      </div>

    </div>
  </div>

  <div class="small-4 columns">

    <div class="row">
      <div class="small-12">
        <h4>Contact</h4></br>
        <%= link_to @museum.formatted_address, @museum.google_address_link %><br>
        Phone:<%= @museum.formatted_phone_number %></br>
      </div>
    </div>

  </div>

</div>