<% if @museum.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@museum.errors.count, "error") %></h2>
    <ul>
    <% @museum.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="outline ">
<div class="container">
  <div class="row">

    <div class="col-xs-6">
      <span class="photo"><%= image_tag(@museum.photos) %></span>
    </div>

    <div class="col-xs-6 columns title">

      <div class="row">
        <div class="col-xs-12">
          <h3 style="position:relative; text-align: center" class="museum-name"><%= @museum.name.upcase %></h3></br>
        </div>
      </div>

      <div class="row icon-row">
        <div style="position:relative; text-align: center;right:16.5em; top:-2em;" class="col-xs-12">
          <div class="favorite museum-fav"><%= render partial: "./favorite", locals: {museum: @museum, favorite: @favorite}%><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="position:relative; top:3em; left:5%">
  <div class="row">
    <div class="col-xs-4" class="hours">
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; ">Hours</h4>
        </div>
      </div>
      <div class="row">
      <% if @museum.opening_hours.empty? %>
        <div class="col-xs-12">
          <p style="position:relative; ">No Hours Available</p>
        </div>
        <%else%>
        <% @museum.opening_hours.each do |hours| %>
         <div class="col-xs-12">
          <p style="position:relative;" class="hour"><%= hours %></p>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative;">Admission</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p style="position:relative; "><%= @museum.rates %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; top:1em">Specials</h4>
        </div>
      </div>
      <div class="row">
        <%if @museum.specials.first.description == nil %>
        <div class="col-xs-12" style="position:relative; top:2em">
          No Specials Available
        </div>
        <%else%>
        <div class="col-xs-12" style="position:relative; top:1em">
          <%= @museum.specials.first.description %>
        </div>
        <%end%>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative;" class="contact">Contact</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="position:relative;">
          <%= link_to @museum.formatted_address, @museum.google_address_link %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; top:1.75em">Phone</h4>
        </div>
      </div>
       <div class="row">
        <div class="col-xs-12" style="position:relative;top:1.75em">
          <%=@museum.formatted_phone_number %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>