<% if @museum.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@museum.errors.count, "error") %></h2>
    <ul>
    <% @museum.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-xs-7">
      <%= image_tag(@museum.photos) %>
    </div>

    <div class="col-xs-5 columns">

      <div class="row">
        <div class="col-xs-12">
          <h3 style="position:relative; text-align: center"><%= @museum.name.upcase %></h3></br>
        </div>
      </div>

      <div class="row">
        <div style="position:relative; text-align: center" class="col-xs-4">
          <i  class="fi-dollar style10"></i>
        </div>

        <div style="position:relative; text-align: center" class="col-xs-4">
          <i class="fi-dollar style10"></i>
        </div>

        <div style="position:relative; text-align: center" class="col-xs-4">
          <span class="glyphicon glyphicon-star-empty"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" style="position:relative; top:5em">
  <div class="row">
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; text-align: center">Hours</h4>
        </div>
      </div>
      <div class="row">
      <% if @museum.opening_hours.empty? %>
        <div class="col-xs-12">
          <p style="position:relative; text-align: center">No Hours Available</p>
        </div>
        <%else%>
        <% @museum.opening_hours.each do |hours| %>
         <div class="col-xs-12">
          <p style="position:relative; text-align: center"><%= hours %></p>
        </div>
        <%end%>
        <%end%>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; text-align: center">Admission</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= @museum.rates %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; text-align: center; top:3em">Specials</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="position:relative; text-align: center; top:4em">
          <%= @museum.specials.first.description %>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="row">
        <div class="col-xs-12">
          <h4 style="position:relative; text-align: center" class="contact">Contact</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="position:relative; text-align: center">
          <%= link_to @museum.formatted_address, @museum.google_address_link %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p style="position:relative; text-align: center">Phone:<%= @museum.formatted_phone_number %></p>
        </div>
      </div>
    </div>
  </div>
</div>