<div class="card col-sm-6">
	<%= link_to image_tag(museum.photos, class:"img-rounded pull-xs-left card-img"),museum_path(museum.id) %><br>
	<div class="card-text pull-xs-right">
			<h2><%= link_to museum.name, museum_path(museum.id) %></h2>
			<div class="address"><%= link_to museum.formatted_address, museum.google_address_link %><br><br></div>
			<% if museum.is_free %>
			  Cost: Suggested donation
			<% else %>
			  Cost: <span class="glyphicon glyphicon-usd"></span>
			<% end %><br><br>
			<% if museum.opening_hours.empty? %>
			  <p>No Hours Available </p>
			<% else %>
			  Hours for <%= museum.hours_today %><br>
			<% end %>
			<div class="favorite"><%= render partial: "./favorite", locals: {museum: museum, favorite: favorite}%><br>
			</div>
	</div>
</div>
