<!DOCTYPE html>
<html>
<head>
  <title>MuseumFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="Site">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"
        href="/">Museum Finder</a></div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Museums", categories_home_path %></li>
        <li><%= link_to "Categories", categories_path%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to 'Favorites', user_path(current_user.id)%></li>
          <li><%= link_to 'Profile', edit_user_registration_path(current_user.id)%></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>

        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>

        <%= form_tag search_path, :method => 'get', class: "navbar-form navbar-right" do %>
            <p><%= text_field_tag 'keyword', nil, class: 'form-control'%>
              <%= submit_tag "Search for Museum", :name => nil, class: "btn btn-default" %>
            </p>
          <% end %>
        </ul>
    </div>
  </nav>

<%= yield %>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>&copy; 2016 Katherine Broner, Sibel Ergener, Brian Donahue</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", root_path %></li>
        <li><%= link_to "Contact", root_path %></li>
      </ul>
    </div>
  </nav>
</body>

</html>